.logo{
    width: 110px;
    height: 80px;
}


body{
    font-family: 'DynaPuff', cursive;
    background-color:#023E8A;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}

li, a , button {
    font-family:'DynaPuff', cursive;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
   align-items: ;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1%;
    background-color:white;
    
}

.logo{
    cursor: pointer;
}

.navabar{
    list-style: none;
}

.navabar li {
    display:inline-block ;
    padding: 0px 20px;
}


.navabar li  a {
    transition: all 0.3s  ease 0s;
}


.navabar li  a:hover {
    color: white;
}


ul,li,a{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    margin-right: 150px;
    font-size: 20px;
    color:#48CAE4;
}

.container{
    width: 100%;
    height: 100vh;
    background: #023E8A;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vh;
    width: 90%;
    max-width: 600px;
    border-radius: 70px;
    margin-bottom: -200px;
}

form h3{
    color: #555;
    font-weight: 800;
    margin: 20px;   
}

form input, form textarea {
border: 0;
margin: 10px 0;
padding: 20px;
outline: none;
background-color:#dbdada;
font-size: 16px;
}

form button {
    padding: 15px;
    background-color: #48CAE4;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin:20px auto 0  ;
    border-radius:30px ;



}



